@model NganHangNhaTro.Models.Views.MotelView
@using NganHangNhaTro.Enums

@{
    ViewData["Title"] = "Create motel";
    string url = Url.Action("index", "motel");
}

<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Thêm nhà trọ</h4>
                </div>
                <div class="card-body">
                    <form class="form" method="@FormMethod.Post" enctype="multipart/form-data" novalidate="novalidate" asp-controller="motel" asp-action="create">
                        @* @using (Html.BeginForm("create", "motel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    { *@
                        @* @Html.AntiForgeryToken() *@
                        <p class="text-warning">@ViewBag.ErrorMessage</p>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="title-column">Title</label>
                                    <input type="text" id="title-column" class="form-control" asp-for="title">
                                    <span asp-validation-for="title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="description-column">Description</label>
                                    <input type="text" id="description-column" class="form-control" asp-for="description">
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label for="status-column" class="form-label">Basic Select</label>
                                    <select class="form-select" id="status-column" asp-for="status">
                                        <option value="True">Còn phòng</option>
                                        <option value="False">Hết phòng</option>
                                    </select>
                                    <span asp-validation-for="status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="address-column">Address</label>
                                    <input type="text" id="address-column" class="form-control" asp-for="address">
                                    <span asp-validation-for="address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="price-column">Price</label>
                                    <input type="number" id="price-column" class="form-control" asp-for="price">
                                    <span asp-validation-for="price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="image-column">Image</label>
                                    <input type="file" id="image-column" class="form-control" asp-for="image">
                                    <span asp-validation-for="image" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="detail-column">Detail</label>
                                    <textarea class="form-control" id="detail-column" asp-for="detail" rows="7"></textarea>
                                    <span asp-validation-for="detail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" onclick="submitForm()" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                            </div>
                            @* } *@

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        function submitForm() {
            var form = document.querySelector('.form');
            var formData = new FormData(form);

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                @* if() *@
                if (xmlHttp.readyState === 4) {
                if (xmlHttp.status === 200) {
                    // Request succeeded
                    console.log(xmlHttp.response);
                    console.log(xmlHttp.responseText);
                    let url = "@url"; // The URL from Razor
                    // Use window.location to navigate to the URL
                    window.location.href = url;
                } else {
                    // Request failed
                    console.error('Error: ' + xmlHttp.statusText);
                }
                }
            };

            xmlHttp.open('POST', form.action, true);
            xmlHttp.send(formData);
        }
    </script>
}