@{
    ViewData["Title"] = "Motel";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/app-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
}
@model NganHangNhaTro.Models.Views.MotelView
<section id="wishlist" class="grid-view wishlist-items">
    <div class="card ecommerce-card">
        <div class="item-img text-center">
            <a href="app-ecommerce-details.html">
                <img src="~/app-assets/images/pages/eCommerce/1.png" class="img-fluid" alt="img-placeholder">
            </a>
        </div>
        <div class="card-body">
            <div class="item-wrapper">
                <div class="item-rating">
                    <ul class="unstyled-list list-inline"></ul>
                </div>
                <div class="item-cost">
                    <h6 class="item-price">$19.99</h6>
                </div>
            </div>
            <div class="item-name">
                <a href="app-ecommerce-details.html">Apple Watch Series 5</a>
            </div>
            <p class="card-text item-description">
                On Retina display that never sleeps, so it’s easy to see the time and other important information, without
                raising or tapping the display. New location features, from a built-in compass to current elevation, help users
                better navigate their day, while international emergency calling1 allows customers to call emergency services
                directly from Apple Watch in over 150 countries, even without iPhone nearby. Apple Watch Series 5 is available
                in a wider range of materials, including aluminium, stainless steel, ceramic and an all-new titanium.
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/app-assets/js/scripts/pages/app-ecommerce-wishlist.js"></script>
    <script type="text/javascript">
        function addClassAppContent(className){
            $("#app-content").addClass(className);
        }
        $(document).ready(async function(){
            addClassAppContent("ecommerce-application");
        })
    </script>
}